.messages {
  display: flex;
  flex-direction: column ;
  height: 80vh;
  overflow-y: scroll;
  padding: 1%;
}

.messages__item {
  margin: 1em 0;
}

.messages::-webkit-scrollbar {
  display: none;
}

.item:first-child {
  margin-top: auto;
}

.item--right {
  align-self: flex-end;
}
