<p>messages-list works!</p>
<!-- <ul *ngIf="messages" class="messages">
  <li *ngFor="let message of messages" class="messages__item item">
    <ng-container *ngIf="opponent">
      <img [src]="opponent.avatar" *ngIf="message.sender.nickname === currentUser.nickname" class="item__avatar" alt="opponent`s avatar">
      <p [ngClass]="{'message--right': message.sender.nickname === currentUser.nickname}">{{message.text}}</p>
    {{currentUser.nickname}}
    </ng-container>
    <ng-container>
      <p [ngClass]="{'message--right': message.sender.nickname === currentUser.nickname}">{{message.text}}</p>
    </ng-container>
  </li>
</ul> -->
