@import '../../../scss/styles.scss';

.chat {
  height: 100%;
  box-sizing: border-box;
  // border-left: 1px solid #EFEFEF;
}

.text {
  @include main-text;
  text-align: center;
  margin: auto;
  width: 60%;
}
