.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.item {
  display: flex;
}

.message__text {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0;
}

.text {
  color: #FFFFFF;
  padding: 0.8em;
  background-color: #3c4153;
  border-radius: 20px;
  max-width: 400px;
}

.text--right {
  background-color: #E0E0E0;
  color: #000000;
}

.message__date {
  margin: 0 0.8em;
}

.message__date--right {
  text-align: right;

}
