@import '../../../../../scss/styles.scss';

.form {
  display: flex;
  align-items: center;
  height: 8%;
  box-sizing: border-box;
  width: 100%;
  padding: 0 5%;
  border-top: $componentBorder;
}

.form__input {
  width: 90%;
  border: none;
}

.form__input::placeholder {
  @include secondary-text;
  font-size: 14px;
}

.form__button {
  width: 5%;
  height: 40px;
  border-radius: 50%;
  padding: 0;
  border: none;
  background: none;
}

.icon {
  margin: 5px;
  color: #7d66ea;
  transition: all .5s;
}

.icon--rotated {
  transform: rotate(40deg);
}

.form__button {
  &:enabled:hover {
    .icon {
      cursor: pointer;
      transform: scale(1.1);
    }
    .icon--rotated  {
      transform: rotate(40deg) scale(1.2);
    }
  }
  &:disabled {
    .icon {
      color: #484848;
    }
  }
}
