@import '../../../scss/styles.scss';

.form {
  display: flex;
  height: 11%;
  box-sizing: border-box;
  width: 100%;
  padding: 0 5%;
}

.form-fields {
  display: flex;
  // margin: auto;
  width: 100%;
  background: #FFFFFF;
  // padding: 6px;
}

.form-fields__input {
  width: 90%;
  border: none;
  // padding: 10px;
}

.form-fields__input:focus {
  outline: none;
}

.form-fields__input::placeholder {
  @include secondary-text;
  font-size: 14px;
}

.form-fields__button {
  width: 10%;
  border: none;
  background: #FFFFFF;
}

.img {
  width: 35px;
  height: 35px;
  rotate: 100deg;
}
