<div class="container">
  <h2 class="container__title">Sign up</h2>
  <form [formGroup]="signUpForm" (submit)="onFormSubmit()" class="container__form form">
    <mat-form-field class="form-field">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="Enter email here..." formControlName="email">
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Password</mat-label>
      <input matInput type="password" placeholder="Enter password here..." formControlName="password">
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary" [disabled]="signUpForm.invalid" class="form__button">
      Sign up
    </button>
  </form>
</div>
