<div class="container">
  <h2 class="container__title">Sign in</h2>
  <form [formGroup]="signInForm" (submit)="onFormSubmit()" class="container__form form">
    <mat-form-field class="form-field">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="Enter email here..." formControlName="email">
      <mat-error>Email is incorrect. Check your email or sign up.</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Password</mat-label>
      <input matInput type="password" placeholder="Enter password here..." formControlName="password">
      <mat-error>Password is incorrect.</mat-error>
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary" [disabled]="signInForm.invalid" class="form__button">
      Sign in
    </button>
  </form>
  <p class="container__text">
    Don't have an account?
    <a routerLink="/sign-up" class="link">Sign up</a>
  </p>
</div>
